<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit" />
		<title>index</title>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
	</head>
	<body>

		<!-- header1-->
		<div class="header1">

			<div class="main">

				<div class="left">
					splatoon介绍
				</div>

				<div class="right">

					<a href="register.html">加入我们！</a> |
					<a href="login.html">欢迎回来！</a>
					<span id="time"></span>
				</div>

			</div>

		</div>

		<!--轮播图 开始-->
		<div class="slide-wrap main">

			<div class="slide-content">
				<a href="#"><div class="slide-item" style="background: url(images/banner1.png) no-repeat center center;"></div></a>
				<a href="#"><div class="slide-item" style="display: none; background: url(images/banner2.jpg) no-repeat center center;"></div></a>
				<a href="#"><div class="slide-item" style="display: none; background: url(images/banner3.jpg) no-repeat center center;"></div></a>
			</div>

			<div id="pagination">
			</div>

		</div>

		<!--navbar-->
		<div class="navbar">

			<div class="main">
				<ul>
					<li><a href="index.html">主页</a></li>
					<li><a href="news.html" class="active">游戏动态</a></li>
					<li><a href="wuqi.html">武器介绍</a></li>
					<li><a href="ditu.html">地图介绍</a></li>
					<li><a href="moshi.html">模式介绍</a></li>
					<li><a href="zhuangbei.html">装备介绍</a></li>
					<li><a href="jidian.html">祭典介绍</a></li>
					<li><a href="fuwuqi.html">副武器介绍</a></li>
				</ul>
			</div>

		</div>



		<!--动态中心-->
		<div class="news main">

			<div class="news-item">

				<div class="title clearfix">
					<h3>美食动态</h3>
					<span>当前位置：网站首页 >> 美食动态</span>
				</div>

				<div class="body">

					<ul class="list">
						<li><a href="detail1.html" target="_blank">『网络指南补充说明 1.0』</a> <span>|2021.12.25</span></li>
						<li><a href="detail2.html" target="_blank">『第十六回 STP 顶级玩家邀请赛 PV』</a> <span>|2021.12.23</span></li>
						<li><a href="detail3.html" target="_blank">『12月月赛获奖图』</a> <span>|2021.12.22</span></li>
						<li><a href="detail4.html" target="_blank">『来自官方的节日问候』</a> <span>|2021.11.30</span></li>
						<li><a href="detail5.html" target="_blank">『11月月赛获奖图』</a> <span>|2021.11.29</span></li>
						<li><a href="detail6.html" target="_blank">『全熊武器打工本周六再度来袭！』</a> <span>|2021.11.28</span></li>
						<li><a href="detail5.html" target="_blank">『章鱼和裁判猫参展大乱斗』</a> <span>|2021.11.27</span></li>
						<li><a href="detail2.html" target="_blank">『新大招—镭射扩音器 5.1』</a> <span>|2021.11.26</span></li>
					</ul>

					<!--分页-->
					<div class="common-page">
						<ul>
							<li><a href="#" class="active">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">下一页</a></li>
						</ul>
					</div>

				</div>

			</div>



		</div>



		<!--底部-->
		<div class="footer">

			<div class="main">

				<div class="left">
					<div class="imgbox">
						<img src="images/logo.png"/>
					</div>

					<div class="text">
						<div>
							图片和资讯来源：<a href="https://splatoonwiki.org/wiki/Main_Page" target="_blank">splatoon&nbsp;wiki</a> &nbsp;<a href="https://www.weibo.com/u/5746979958" target="_blank">乌贼学院微博</a>&nbsp; <a href="https://baike.baidu.com/item/%E5%96%B7%E5%B0%84%E6%88%98%E5%A3%AB/17792063" target="_blank">喷射战士百度百科</a>
						</div>
						<div>
							This interface was made by Wu Shuqing in 2022
						</div>
					</div>
				</div>


		<script src="js/main.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
